@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(135deg, #f0f4ff 0%, #e6ecff  100%);
    display: flex; /* Define um container flexíevel */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
   /*  height: 100vh; /* Altura total da viewport */ */
}

#card {
    background-color: #f0f4ff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 800px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) ;
    border: 5px solid black;
}




/* Estilo para o título */
h1 {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center
}


/* Estilo para o parágrafo */
p {
    font-size: 16px; /* Tamanho da fonte */
    line-height: 1.5; /* Espaçmento entre linhas */
    text-align: center; /* Alinhamento do texto */
    font-family: Arial, Helvetica, sans-serif; 
}

/* Estilo para as imagens */
img {
    display: block; /* Faz a imagem ocupar uma linha inteira */
    margin: 20px auto; /* Centraliza a imagem horizontal */
    border-radius: 50%; /* Deixa a imagem circular */
    width: 400px; /* LArgura da imagem */
    height: 400px; /* Altura da Imagem */
    border: 3px solid gray;
}

.foto-legenda {
    font-size: 12px;
    font-style: italic;
}